
.t-style{
  border: 1px solid blue;
  background-color: rgba(25, 133, 221, 0.575);
  text-align: center;
  font-size: 50px;
  width: 200px;
  height: 200px;
  border-collapse: collapse;

}

tr, td{
  border: 1px solid blue;
  text-align: center;
}

.font{
  color: rgb(29, 52, 182);
  font-style: bold;
  font-weight:500;

}

.h-font{
  color: red;
  size: 200px;
}

.select{
  display:inline-block;
  text-align: center;
}