.t-style{
  border: 2px;
  background-color: rgba(25, 133, 221, 0.575);
  text-align: center;
  width: 200px;
  height: 200px;
}
.font{
  color: rgb(29, 52, 182);
  size: 100px;
  font-style: bold;
  font-weight:500;

}
.h-font{
  color: red;
  size: 200px;
}

.select{
  display:inline-block;
  text-align: center;
}